<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  <!-- Cette clé s'applique à la ressource Application Insights 'Anatomie_UNIL' du groupe de ressources 'Default-ApplicationInsights-CentralUS' -->
  <InstrumentationKey>eb305725-d800-4183-8b54-8737e6b769bf</InstrumentationKey>
</ApplicationInsights>